MONGO_URI=<your-mongodb-atlas-uri>
PORT=3000
JWT_SECRET_KEY=<your-jwt-secret>
FRONTEND_URL=http://localhost:5173
EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
